DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_API_KEY=
MAX_HISTORY=15

CORS_ALLOW_ORIGIN=127.0.0.1:8501;

KNOWLEDGE_DIR=data/knowledge

# 和风天气API - 天气查询
# API_HOST
HF_API_HOST=
# 项目ID
HF_PROJECT_ID=
# 项目的KID
HF_PROJECT_KID=
# 密钥路径所在文件夹，根目录下
HF_KEY_DIR=keys